Repository clibs/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, imagemin-lint-staged

Add badges
  README.md
Due: prettier --write

Fix registry revision
  src/registry.ts
Due: eslint --fix, prettier --write

Add analytics
  netlify.toml
  package.json
  src/components/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/InstallationGuide.tsx
  src/components/NotFoundError.tsx
  src/components/SearchForm.tsx
  src/lib/analytics.tsx
  src/main.tsx
  src/pages/Group.tsx
  src/pages/Home.tsx
  src/pages/Package.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Fix $NODE_ENV
  netlify.toml
Due: none

Add a comment
  netlify.toml
Due: none

s/label/eventLabel/
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/InstallationGuide.tsx
  src/components/NotFoundError.tsx
  src/lib/analytics.tsx
  src/pages/Home.tsx
  src/pages/Package.tsx
Due: eslint --fix, prettier --write

Add analytics (#3)
  netlify.toml
  package.json
  src/components/App.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/InstallationGuide.tsx
  src/components/NotFoundError.tsx
  src/components/SearchForm.tsx
  src/lib/analytics.tsx
  src/main.tsx
  src/pages/Group.tsx
  src/pages/Home.tsx
  src/pages/Package.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Run eslint as well as tsc on push
  .github/workflows/lint.yml
  .github/workflows/ts_build.yml
Due: none

chore: update homebrew link
  src/components/InstallationGuide.tsx
Due: eslint --fix, prettier --write

chore: update homebrew link (#4)
  src/components/InstallationGuide.tsx
Due: eslint --fix, prettier --write

Update registry
  src/registry.ts
Due: eslint --fix, prettier --write

Lowercase all package names/slugs
  scripts/buildRegistry.ts
  src/pages/Package.tsx
  src/registry.ts
Due: eslint --fix, prettier --write

Update dependencies to fix node-fetch vulnerability
  yarn.lock
Due: none

Update dependencies to fix node-fetch vulnerability (#7)
  yarn.lock
Due: none

Fix "distribution" typo
  src/components/InstallationGuide.tsx
Due: eslint --fix, prettier --write

Add MacPorts installation instructions
  src/components/InstallationGuide.tsx
Due: eslint --fix, prettier --write

Fix search page UI when query is missing
  src/pages/Search.tsx
Due: eslint --fix, prettier --write

Add alert role to error for screen readers
  src/components/ErrorMessage.tsx
Due: eslint --fix, prettier --write

Add alert role to error for screen readers (#13)
  src/components/ErrorMessage.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,css,md,html})
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
